@model IEnumerable<Location>
@{
    ViewData["Title"] = "ViewLocation";
}



<h1>Location Details</h1>
<hr />


<table class="table table-striped">
    <tr>
        <th>From</th>
        <th>To</th>

    </tr>
    @foreach (var loc in Model)
    {
        <tr>
            <td>@loc.From</td>
            <td>@loc.To</td>
           

            <td>
                <div class="btn-group ms-auto">
                    <a asp-action="DeleteLocation" asp-route-id="@loc.Id" class="btn btn-primary">Delete </a>
                </div>
            </td>
        </tr>
    }

</table>

