<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CabSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CabSystem.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-black border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index" style="font-family:Cursive">Taxis</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                       
                         @if (User.Identity.IsAuthenticated)
                        {
                            @if(User.IsInRole("User"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-warning" asp-area="Users" asp-controller="User" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-warning" asp-area="" asp-controller="Account" asp-action="Privacy">Privacy</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="EditProfile" asp-controller="User"  asp-area="Users" class="nav-link text-warning">Update Profile</a>
                                </li>
                                  <li class="nav-item" style="position:absolute;right:10%">
                                <a asp-action="Booking" class="btn btn-warning ms-auto my-2" >Book A Cab</a>
                                </li>
                                <li class="nav-item" style="position:absolute;right:50%">
                                    <a asp-action="ViewRequest" class="btn btn-warning ms-auto my-2">Booking</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="Logout" asp-controller="Account" asp-area="" class="nav-link text-warning">Logout</a>
                                </li>
                            }
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-warning" asp-area="Admins" asp-controller="Admin" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-warning" asp-area="" asp-controller="Account" asp-action="Privacy">Privacy</a>
                                </li>

                                <li class="nav-item">
                                    <a asp-action="Logout" asp-controller="Account" asp-area="" class="nav-link text-warning">Logout</a>
                                </li>
                                 <li class="nav-item" style="position:absolute;right:10%">
                                <a asp-action="ViewCustomer" class="btn btn-warning ms-auto my-2" >View Users</a>
                                </li>
                                <li class="nav-item" style="position:absolute;right:30%">
                                    <a asp-action="Bookings" class="btn btn-warning ms-auto my-2">View Booking</a>
                                </li>

                            }
                            @if (User.IsInRole("CabDriver"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-warning" asp-area="Drivers" asp-controller="Driver" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-warning" asp-area="" asp-controller="Account" asp-action="Privacy">Privacy</a>
                                </li>
                                <li class="nav-item" style="position:absolute;right:10%">
                                    <a asp-action="AddLocation" class="btn btn-warning ms-auto my-2">Add Location</a>
                                </li>
                                 <li class="nav-item" style="position:absolute;right:30%">
                                    <a asp-action="ViewLocation" class="btn btn-warning ms-auto my-2">View Location</a>
                                </li>
                                <li class="nav-item" style="position:absolute;right:50%">
                                    <a asp-action="ViewRequest" class="btn btn-warning ms-auto my-2">View Request</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="Logout" asp-controller="Account" asp-area="" class="nav-link text-warning">Logout</a>
                                </li>
                            }
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-warning" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-warning" asp-area="" asp-controller="Account" asp-action="Privacy">Privacy</a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="Login" asp-controller="Account" class="nav-link text-warning">Login</a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="Register" asp-controller="Account" class="nav-link text-warning">Register</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - CabSystem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
