@*@model BookConfirmViewModel


@{
    ViewData["Title"] = "BookConfirm";
}

<h1>BookConfirm</h1>

<hr />
 
<table class="table table-striped">
    <tr>
        <th>Customer Name</th>
        <th>Driver Name</th>
        <th>From</th>
        <th>To</th>
        <th>Cost</th>
        <th>Cab Name</th>
    </tr>
    @foreach (var loc in Model)
    {
        <tr>
            <td>
            </td>
            <td>model.Name</td>
            
            <td>User.Cab.Vehicle</td>
        </tr>
    

</table>t



*@
@{
    ViewData["Title"] = "BookConfirm";
}

<h1>Request Send To The Driver!!!!</h1>

<img src="~/image/cab-booking-app-3.png" style="width:100%">