@model CabSystem.Models.ViewModels.BookViewModel

@{
    ViewData["Title"] = "Booking";
}

<h1>Booking</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Booking">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pickup" class="control-label"></label>
                <input asp-for="Pickup" class="form-control" />
                <span asp-validation-for="Pickup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Drop" class="control-label"></label>
                <input asp-for="Drop" class="form-control" />
                <span asp-validation-for="Drop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTime" class="control-label"></label>
                <input asp-for="DateTime" class="form-control" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
            <button class="btn btn-warning">Search</button>
              
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

